.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Javascript logo */
.fa-js {
  color: #FBDC01;
  background-color: black;
  /* Round out corners */
  border-radius: 5px;
  border: 2px solid black;
}

/* HTML5 logo */

.fa-html5 {
  color: #DD4B25;
}

/* CSS3 logo */
.fa-css3-alt {
  color: #264DE4;
}